$breakpoints: (
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$color-background: #e0fbfc;
$color-card: #3d5a80;
$color-buttonCreate: #ee6c4d;
$color-buttonDelete: #ff0000;
$color-buttonEdit: #98c1d9;
$color-title: #000000;
$color-text: #fff;
